/* HEADER GLOBALE CSS */

header {
    position: fixed;
    top: 0;
    z-index: 99;

    width: 100%;
}

header button {
    background-color: transparent;
    border: none;
    padding: 18px 40px;
    margin: 0px 6px;
    color: white;

    font-family: titilium;

    transition: 100ms;
}

header button:hover {
    background-color: rgb(185, 54, 61, 1);
    border-bottom: 3px solid white;
}

header .squareIcon:hover,
.headerMid button:hover {
    background-color: transparent;
    border: none;
}

header,
.squareIcon:hover {
    transform: translateY(-4px);
}

.headerLeft,
.headerRight,
.headerLeftButtons,
.langSearchDiv {
    display: flex;
    align-items: center;
}

.headerSpacing {
    display: flex;
    justify-content: space-between;
    height: 64px;
    background-color: rgb(139, 46, 51, 1);
}

.squareIcon,
.loginIcon {
    display: flex;
    padding: 8px 11px;
}

.homeIcon {
    margin: 0px 0px 0px 17px;
}

header img {
    width: 30px;
}


/* HEADER LINKS */

.headerLeft {
    margin: 0px 0px 0px 10px;
}


/* HEADER MIDDEN */

.headerMidDiv {
    display: flex;
    justify-content: center;
}


.headerMid {
    position: absolute;
    top: 0.313rem;
}

.headerMid button {
    padding: 0;
    margin: 0;
}

.headerMid img {
    width: 130px;
}


/* HEADER RECHTS */
.langSearch {
    margin: 0px;
    padding: 8px;
}

.wordLidButton:hover {
    background-color: rgba(255, 219, 110, 1);
    border: none;
}

.wordLidButton {
    padding: 9px 37px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgb(0, 0, 0, 0.10);
    background-color: rgba(223, 152, 52, 1);

    font-size: 20px;
}

.loginIcon {
    padding: 7px;
    background-color: rgba(114, 29, 34, 1);
    border-radius: 15px;
}

.loginIcon:hover {
    background-color: rgba(114, 29, 34, 1);
    border: none;
}

.loggedOut img {
    transition: 100ms;
}

.loggedOut:hover img {
    transform: translateY(-2px);
}

.loginIcon img {
    width: 40px;
}

.gebruikerDiv {
    width: 80px;
    display: flex;
    align-items: center;
}

.gebruikerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    margin: 0px 0px 0px 10px;
}

.gebruikerInfo p {
    font-size: 15px;
}

.gebruikerDiv {
    padding: 0px 70px 0px 0px;
    height: 100%;

    transition: 100ms;
}

.gebruikerInfo .VCSuser {
    font-size: 13px;
    font-weight: bold;
    width: 60px;
}

.loggedIn:hover {
    cursor: pointer;
    border-bottom: 3px solid white;
    background-color: rgba(185, 54, 61, 1);
}

.gebruikerInfo .VCSrole {
    font-size: 12px;
    width: 60px;
}

/* Ingelogd gebruiker navigatie */

.gebruikerInst {
    position: absolute;
    bottom: -220px;
    right: 45px;

    background-color: rgb(139, 46, 51, 1);
    width: 200px;
}

.gebruikerInst li a {
    font-size: 18px;
    font-family: poppinsB;
    text-decoration: none;
    color: white;
}

.gebruikerInst li {
    background-color: rgb(139, 46, 51, 1);
    width: 100%;
    padding: 10px 0px 10px 30px;

    transition: 100ms;
}

.gebruikerInst li:hover {
    background-color: rgba(100, 23, 27, 1);
}

.gebruikerInst .uitloggen {
    background-color: rgba(118, 30, 35, 1);
}

.gebruikerInst ul:hover {
    cursor: pointer;
}