/* FONTS */
@font-face {
    font-family: poppins;
    src: url(./CSS/fonts/Poppins.ttf);
}

@font-face {
    font-family: titilium;
    src: url(./CSS/fonts/Titilium.ttf);
}

@font-face {
    font-family: poppinsB;
    src: url(./CSS/fonts/Poppins-Bold.ttf);
}


/* ZET PAGINA ONDER DE HEADER */
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(246, 242, 242, 1);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
li,
ul,
a {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    font-family: titilium;
}

p,
h2,
h3,
h4,
h5,
li,
ul,
::placeholder,
a {
    font-family: poppins;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

::placeholder {
    color: rgb(0, 0, 0, 0.5);
}

button {
    font-weight: bold;
    font-family: poppins;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.greenButton {
    background-color: rgba(75, 195, 140, 1);
    border: none;
    border-radius: 10px;
    transition: 100ms;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
}

.greenButton:hover {
    background-color: rgba(119, 248, 198, 1);
}



.centerHeader {
    display: flex;
    justify-content: center;
}

.contentContainer {
    background-color: white;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
}

.headingText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.headingText {
    background-color: rgba(139, 46, 51, 1);
    width: 25vw;
    height: 10vh;
    border-radius: 10px;
}

.contentContainer h2 {
    color: black;
}