/* FONTS */
@font-face {
    font-family: poppins;
    src: url(./CSS/fonts/Poppins.ttf);
}

@font-face {
    font-family: titilium;
    src: url(./CSS/fonts/Titilium.ttf);
}

@font-face {
    font-family: poppinsB;
    src: url(./CSS/fonts/Poppins-Bold.ttf);
}


/* ZET PAGINA ONDER DE HEADER */
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(246, 242, 242, 1);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
li,
ul {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    font-family: titilium;
}

p,
h2,
h3,
h4,
h5,
li,
ul,
::placeholder,
a {
    font-family: poppins;
    font-size: 16px;
}

p {
    font-size: 20px;
}

a {
    color: white;
}

ul {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

::placeholder {
    color: rgb(0, 0, 0, 0.5);
}

button {
    font-weight: bold;
    font-family: poppins;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.greenButton {
    background-color: rgba(75, 195, 140, 1);
    border: none;
    border-radius: 10px;
    transition: 100ms;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
}

.greenButton:hover {
    background-color: rgba(119, 248, 198, 1);
}

/* CONTENT */

.heading {
    background-color: rgba(139, 46, 51, 1);
    width: 350px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;

    position: relative;
    bottom: -40px;

    z-index: 2;
}

.heading h1 {
    font-size: 22px;
}

.contentWidth {
    max-width: 80vw;
}

.contentBox p {
    margin: 0;
}

.contentBox {
    position: relative;
    padding: 60px 20px 20px 20px;
    background-color: rgb(255, 255, 255);

    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
}

.contentContainer {
    display: flex;
    margin: 0px 0px 40px 0px;
    flex-direction: column;
    align-items: center;
}

.contentBox h2 {
    color: black;
}

.contentBox h3 {
    color: rgb(26, 26, 26);
}