.contentDiv {
    position: relative;
    margin-bottom: 100px;
}

.centerHeader {
    display: flex;
    justify-content: center;
}

.formHeaderPos {
    z-index: 2;
    position: absolute;

    top: -25px;
}

.roosterBox,
.wedstrijdBox {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    padding: 50px 0px 50px 0px;

    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

/* ROOSTER */

.roosterBox {
    width: 600px;
}

.roosterGeslacht,
.roosterDatum {
    width: 85%;
}

.roosterData {
    width: 77%;
}

.roosterGeslacht {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}

.roosterGeslacht button img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.roosterGeslacht button {
    padding: 8px;
    border-radius: 8px;

    margin: 0px 30px;
    background-color: rgba(139, 46, 51, 1);
    border: none;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.roosterGeslacht .selected {
    background-color: rgba(234, 51, 35, 1);
}

.roosterDatum,
.wedstrijdDatum {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(139, 46, 51, 1);
    padding: 8px;
    border-radius: 10px;

    margin-top: 10px;
}

.roosterDatum button,
.wedstrijdDatum button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(224, 64, 72, 1);

    font-size: 20px;
    border-radius: 10px;
}

.roosterDatum p,
.wedstrijdDatum p {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.RDloc {
    display: flex;
    align-items: center;
}

.RDloc img {
    width: 16px;
}

.RDloc p {
    font-size: 16px;
}

.roosterData {
    background-color: rgba(246, 242, 242, 1);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);

    margin-top: 10px;
    padding: 0px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roosterData h2 {
    font-family: poppinsB;
    letter-spacing: 0px;
    color: black;
    font-size: 18px;
}

.RDCoach {
    font-size: 14px;

    font-family: poppinsB;
    letter-spacing: 0px;
}

.RDtijd {
    display: flex;
    gap: 20px;
}

.RDtijd p {
    font-size: 16px;
}

/* WEDSTRIJD */

.wedstrijdBox {
    width: 800px;
}

.wedstrijdDatum {
    width: 65%
}

.wedstrijdData img {
    margin: 50px 0px;
    width: 100%;
}

.ingeroosterd {
    background-color: rgba(75, 195, 140, 1);
}

.ingeroosterd p,
.ingeroosterd h2 {
    color: white;
}

.ingeroosterd img {
    filter: invert();
}