.lidWorden {
    width: 600px;
}

.formTitle p {
    margin: 20px 0px;
    font-size: 16px;
}

.formTitle progress {
    height: 15px;
    width: 70%;
    appearance: none;
}

/* Gebruikte bronnen: 
 https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-progress-value
 https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-progress-bar 
 */

.formTitle progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border: rgb(231, 231, 231) solid 2px;
}

.formTitle progress::-webkit-progress-value {
    background-color: rgba(55, 187, 152, 1);
    border-radius: 10px;
}

/*--------------------------------------------------*/

.formBox form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;

    padding: 15px;
    border-radius: 15px;
    background-color: rgba(139, 46, 51, 1);
    width: 80%;

    margin: 8px 0px;
}

.formOptions img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.formLogoDiv {
    background-color: white;
    border-radius: 15px;

    padding: 5px;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.formLeft {
    display: flex;
    align-items: center;
    gap: 15px;
}

.formGegevens {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;

    padding: 30px;
    border-radius: 15px;
    background-color: rgba(139, 46, 51, 1);
    width: 80%;

    margin: 8px 0px;
}

.formGegevens label {
    font-size: 14px;
}


.formLeft label {
    font-size: 14px;
    font-family: poppinsB;
    letter-spacing: 0px;
}

.formOptions input {
    height: 50px;
    border: none;
    border-radius: 10px;

    font-size: 16px;
    font-family: poppins;
}

.formOptions input:focus::placeholder,
.formOptions textarea:focus::placeholder {
    color: transparent;
}

.formOptions input::placeholder {
    font-size: 14px;
}

.formOptions input[type="text"],
.formOptions input[type="email"],
.formOptions input[type="tel"] {
    padding-left: 10px;
    font-size: 14px;
}

.formOptions input[type="radio"] {
    appearance: none;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 10px;

    cursor: pointer;
}

.formOptions input[type="radio"]:hover,
.otherOptions input[type="checkbox"]:hover {
    background-color: rgb(224, 224, 224);
}

.formOptions input[type="radio"]:checked,
.otherOptions input[type="checkbox"]:checked {
    background-color: #37bb98;
    border: 6px solid white;
    border-radius: 10px;
}

.formOptions input[type="radio"]:checked:hover,
.otherOptions input[type="checkbox"]:checked:hover {
    border: 6px solid rgb(224, 224, 224);
}

.formLeftText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formLeftText .small {
    font-size: 11px;
}

.formButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 85%;
    padding: 50px 0px 0px 0px;
}

.formButtons a,
.formButtons p {
    font-size: 14px;
}

.formButtons a {
    color: rgba(139, 46, 51, 1);
}

.verderButton {
    font-size: 18px;
    padding: 15px 45px;
}

.gevInput {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin: 5px 0px;
}

.gevPersoonlijk {
    display: flex;
    gap: 15px;
}

.tussenvoegInput {
    width: 85px;
}

.otherInput {
    width: 164px;
}

.gevGeslacht {
    display: flex;
    justify-content: space-between;

    margin: 70px 0px;

    width: 100%;
}

.gevGeslacht div {
    display: flex;
    align-items: center;

    gap: 5px;
}

.gevAdres {
    display: flex;
    justify-content: start;
}

.gevAdres input {
    width: 50%;
}

.gevLocatie,
.gevLocatie2 {
    display: flex;
    gap: 15px;
}

.gevLocatie2 {
    width: 100%;
}

.gevLocatie input {
    width: 95%;
}

.gevPers {
    width: 100%;
    margin-top: 70px;
}

/* Extra club activiteit */

.formECA {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 15px;
}

.formECA p {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.ECAoptions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ECAoptions input {
    width: 10px;
    height: 10px;
}

.ECAoptions label {
    font-size: 13px;
}

.lidWorden h3 {
    display: flex;
    justify-content: left;
    width: 85%;

    font-family: titiliumB;
    letter-spacing: 0px;
    font-size: 25px;
    margin: 15px 0px;
    
    color: black;
}

/* OPMERKINGEN */

.otherOptions {
    margin-top: 20px;

    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.otherOptions div {
    display: flex;
    align-items: center;
    gap: 5px;

    margin: 5px 0px;
}

.otherOptions a, .otherOptions label {
    font-family: arial;
    letter-spacing: 0.25px;
    color: black;
    font-size: 14px;
    font-weight: normal;
}   

.otherOptions input {
    appearance: none;
    width: 30px;
    height: 30px;

    border-radius: 10px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.otherOptions p {
    font-size: 14px;
}

.formOptions p span {
    font-family: poppinsB;
}

.formOptions p,
.formOpmerking label {
    font-size: 15px;
    color: white;
}

.formOpmerking label {
    font-family: poppinsB;
    font-weight: normal;
    letter-spacing: 0px;
    margin: 10px 0px;
}

.formOpmerking {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formOpmerkingen {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.formOpmerking textarea {
    border-radius: 10px;
    height: 200px;
}

.captcha img {
    margin: 20px 0px;
    width: 300px;
}

/* GELUKT */

.formGelukt {
    display: flex;
    flex-direction: column;
    width: 70%;

    margin: 0px 0px 40px 0px;
}

.formGelukt p {
    font-size: 16px;
    margin-bottom: 20px;
}

@media screen (max-width: 500px) {
    
}