.inlogForm {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    width: 500px;
    padding: 50px 0px 30px 0px;

    height: 460px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.inlogForm h2,
.inlogForm a {
    color: black;
}

.inlogForm a {
    font-family: poppinsB;
    color: rgba(56, 56, 56, 0.9);
}

.inlogForm h2 {
    font-family: titilium;
}

.inlogForm input[type=email],
.inlogForm input[type=password] {
    padding-left: 10px;
}

.formTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
}

.formTitle h2 {
    font-size: 25px;
}

.formTitle p {
    font-size: 13px;
}

.gegevensInv {
    display: flex;
    flex-direction: column;
    
    background-color: rgba(139, 46, 51, 1);
    width: 80%;
    padding: 0px 20px 35px 20px;

    border-radius: 15px;
}

.gegevensInv p {
    color: white;
}

.formHeaderDiv {
    position: absolute;
    top: -40px;
}

.infoTextDiv {
    display: flex;

    margin: 20px 0px 10px 0px;
}

.infoTextDiv p {
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}

.gegevensInv input {
    width: 97%;
}

.formButtons {
    position: absolute;
    bottom: 20px;

    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formButtons a {
    font-size: 13px;
}

.inlogButton {
    padding: 15px 40px;
}